<div id="page-wrapper" class="gray-bg">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" style="padding-bottom: 15px; background-color: white;">
      <div class="col-lg-12 no-padding">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Adauga checkin</h5>
          </div>
          <div class="ibox-content">
            <p>
              Din aceasta fereastra poti sa dai checkin la un seminar/curs/laborator!
            </p>
            <div class="col-sm-12" *ngIf="confirmation">{{confirmation}}</div>
            <div class="col-sm-4">
              <label>Id checkin</label>
              <input type="text" class="form-control" [(ngModel)]="check.checkInId">
            </div>
            <div class="col-sm-12 text-center">
              <input type="submit" class="btn btn-primary" (click)="checkIn()" value="CHECKIN">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
