fiivirtualcatalog/.idea/compiler.xml
fiivirtualcatalog/.idea/encodings.xml
fiivirtualcatalog/.idea/kotlinc.xml
fiivirtualcatalog/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
fiivirtualcatalog/.idea/misc.xml
fiivirtualcatalog/.idea/modules.xml
fiivirtualcatalog/.idea/uiDesigner.xml
fiivirtualcatalog/.idea/vcs.xml
fiivirtualcatalog/.idea/workspace.xml
fiivirtualcatalog/fiivirtualcatalog.iml