<div class="row">
	<div class="col-xs-12">
		<h2> Admin - Utilizatori</h2>
	</div>
</div>
<div class="row center-align box-admin-menu">
	<div class="col-xs-9 align-content">
		<div class="btn btn-primary btn-new">
			Adaugati un utilizator nou
		</div>
		<div class="btn btn-primary btn-new">
			Eliminati utilizatori din tabela
		</div>
		<table>
  			<tr>
    			<th>Nume</th>
    			<th>Prenume</th>
    			<th>Rol</th>
  			</tr>
  			<tr>
    			<td>Daneliuc</td>
			    <td>Ilie-Andrei</td>
			    <td>student</td>
			 </tr>
			 <tr>
			    <td>Chile</td>
			    <td>Ovidiu</td>
			    <td>student</td>
			 </tr>
			 <tr>
			    <td>Dochitoiu</td>
			    <td>Alex</td>
			    <td>student</td>
			 </tr>
			 <tr>
			    <td>Clatinici</td>
			    <td>Eduard</td>
			    <td>student</td>
			</tr>
			<tr>
			    <td>Rusu</td>
			    <td>Andrei</td>
			    <td>student</td>
			</tr>
			<tr>
			    <td>Ungureanu</td>
			    <td>Robert</td>
			    <td>student</td>
			</tr>
			<tr>
			    <td>Marcu</td>
			    <td>Alexandru</td>
			    <td>student</td>
			</tr>
		</table>
	</div>
	<div class="col-xs-3 margin-menu">
		<div routerLink="/admin/users" class="btn btn-primary btn-costum active">
			Utilizatori
		</div>
		<br><br><br>
		<div routerLink="/admin/admins" class="btn btn-primary btn-costum">
			Admini
		</div>
		<br><br><br>
		<div routerLink="/admin/orar" class="btn btn-primary btn-costum">
			Orar
		</div>
		<br><br><br>
		<div routerLink="/admin/check-ins" class="btn btn-primary btn-costum">
			Check Ins
		</div>
		<br><br><br>
		<div routerLink="/admin/register-request" class="btn btn-primary btn-costum">
			Cereri Inregistrare
		</div>
		<br><br><br>
		<div routerLink="/admin/schedule-request" class="btn btn-primary btn-costum">
			Cereri Modificare Orar
		</div>
	</div>
</div>