h2 {
	width:100%;
	text-align: center;
	border-radius: 5pt;
	color: #e6f0ff;
	font-size: 250%;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.65);
}

.box-admin-menu {
	position: relative;
	border-radius: 5pt;
	top: -6pt;
	padding-bottom: 25pt;
	background-color: rgba(0, 0, 0, 0.65);
}

.center-align {
	margin: auto;

}

.btn-costum {
	position: fixed;
	background-color: #0052cc;
	border-color: #0052cc;
	width: 16%;
	margin-top: -390pt;
	border-radius: 10pt;
	color: #ffffff;
	font-size: 150%;
	text-decoration: none;
}

.align-content {
	position: relative;
	margin-top: 5%;
	margin-left: 24%;
}

table, td, th {
    border: 1px solid black;
    background-color: #ffffff;
}

th {
	background-color: rgba(0, 0, 0, 0.65);
	text-align: center;
	color: #ffffff;
	font-size: 150%;
	width: 10%;
}

td {
	padding-left: 20pt;
	padding-bottom: 10pt;
	height: 50px;
    vertical-align: bottom;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.btn-new {
	margin-bottom: 20pt;
	margin-left: 25%;
	background-color: #0052cc;
	border-color: #0052cc;
	width: 50%;
	border-radius: 10pt;
	color: #ffffff;
	font-size: 150%;
	text-decoration: none;
}

.active {
	background-color: #994d00;
	border-color: #994d00;
}

.btn-costum:hover {
	background-color: #994d00;
	border-color: #994d00;
}