<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav">
      <li routerLinkActive="active" *ngIf="role == 'admin'">
        <a routerLink="/courses"><i class="fa fa-book"></i> <span class="nav-label">Cursuri</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="role == 'admin'">
        <a routerLink="/students"><i class="fa fa-address-book"></i> <span class="nav-label">Utilizatori</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="role == 'student'">
        <a routerLink="/homeworkstud"><i class="fa fa-file-text-o"></i> <span class="nav-label">Teme student</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="role == 'profesor'">
        <a routerLink="/homeworkteacher"><i class="fa fa-file-text"></i> <span class="nav-label">Teme profesor</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="role == 'profesor'">
        <a routerLink="/checkinteacher"><i class="fa fa-file-text"></i> <span class="nav-label">Checkins</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="role == 'student'">
        <a routerLink="/checkinstudent"><i class="fa fa-file-text"></i> <span class="nav-label">Checkin</span></a>
      </li>
      <li routerLinkActive="active" *ngIf="role == 'profesor'">
        <a routerLink="/moss"><i class="fa fa-file-code-o"></i> <span class="nav-label">Moss</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/orar"><i class="fa fa-calendar"></i> <span class="nav-label">Orar</span></a>
      </li>

      <!--<li routerLinkActive="active" *ngIf="role == 'admin'">-->
        <!--<a routerLink="/courses"><i class="fa fa-book"></i> <span class="nav-label">Cursuri</span></a>-->
      <!--</li>-->
      <!--<li routerLinkActive="active" *ngIf="role == 'admin'">-->
        <!--<a routerLink="/students"><i class="fa fa-address-book"></i> <span class="nav-label">Utilizatori</span></a>-->
      <!--</li>-->
      <!--<li routerLinkActive="active" *ngIf="role == 'student'">-->
        <!--<a routerLink="/homeworkstud"><i class="fa fa-file-text-o"></i> <span class="nav-label">Teme student</span></a>-->
      <!--</li>-->
      <!--<li routerLinkActive="active" *ngIf="role == 'profesor'">-->
        <!--<a routerLink="/homeworkteacher"><i class="fa fa-file-text"></i> <span class="nav-label">Teme profesor</span></a>-->
      <!--</li>-->

    </ul>
  </div>.

</nav>
