<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/courses"><i class="fa fa-book"></i> <span class="nav-label">Cursuri</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/students"><i class="fa fa-address-book"></i> <span class="nav-label">Studenti</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/teachers"><i class="fa fa-users"></i> <span class="nav-label">Profesori</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/homeworkstud"><i class="fa fa-file-text-o"></i> <span class="nav-label">Teme student</span></a>
      </li>
    </ul>
  </div>
</nav>
