h2 {
	width:100%;
	text-align: center;
	border-radius: 5pt;
	color: #e6f0ff;
	font-size: 250%;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.65);
}

.box-admin-menu {
	position: relative;
	border-radius: 5pt;
	top: -6pt;
	padding-bottom: 25pt;
	background-color: rgba(0, 0, 0, 0.65);
}

.center-align {
	margin: auto;

}

.btn-costum {
	position: relative;
	left: 36%;
	background-color: #0052cc;
	border-color: #0052cc;
	width: 30%;
	margin-top: 20pt;
	border-radius: 10pt;
	color: #ffffff;
	font-size: 150%;
	text-decoration: none;
}