<div class="row">
	<div class="col-xs-12">
		<h2> Meniu Admin</h2>
	</div>
</div>
<div class="row center-align box-admin-menu">
	<div class="col-xs-12">
		<div routerLink="/admin/users" class="btn btn-primary btn-costum">
			Utilizatori
		</div>
		<br>
		<div routerLink="/admin/admins" class="btn btn-primary btn-costum">
			Admini
		</div>
		<br>
		<div routerLink="/admin/orar" class="btn btn-primary btn-costum">
			Orar
		</div>
		<br>
		<div routerLink="/admin/check-ins" class="btn btn-primary btn-costum">
			Check Ins
		</div>
		<br>
		<div routerLink="/admin/register-request" class="btn btn-primary btn-costum">
			Cereri Inregistrare
		</div>
		<br>
		<div routerLink="/admin/schedule-request" class="btn btn-primary btn-costum">
			Cereri Modificare Orar
		</div>
	</div>
</div>