<ip-sidebar2></ip-sidebar2>
<div id="page-wrapper" class="gray-bg">
  <div class="row wrapper border-bottom white-bg page-heading">
    <h2>Fii Virtual Catalog</h2>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Login</h5>
          </div>
          <div class="ibox-content">
            <div id="todo-form" class="row">
              <div class="col-sm-6 col-sm-offset-3 text-center" style="padding:0;">
                <form name="todoForm" class="todoForm">
                  <div class="form-group">
                    <div class="input-group">
                      <div *ngIf="log.errors && (log.dirty ||log.touched)" >
                        <div [hidden]="!log.errors.required" class="errorLogin">
                          E-mail is required!
                        </div>
                      </div>
                      <input type="text" required [(ngModel)]="userLog.email" name="userLog.email"  value="{{userLog.email}}" class="form-control input-text" placeholder="Email* ..." #log="ngModel">
                      <div *ngIf="logPass.errors && (logPass.dirty ||logPass.touched)" >
                        <div [hidden]="!logPass.errors.required" class="errorLogin">
                          Password is required!
                        </div>
                      </div>
                      <input type="password" required [(ngModel)]="userLog.password" name="userLog.password" value="{{userLog.password}}"  class="form-control input-text" placeholder="Password*..."  #logPass="ngModel">
                    </div>
                  </div>
                  <div class="form-actions">
                    <span *ngIf="err" class="err">* Wrong email/password! Also your account might not be activated</span>
                    </div>
                     <button  (click)="loginUser()" type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-block">Login</button>
                  <a routerLink="/login/reset"><button  type="button"  class="btn btn-info btn-sm">Reset password</button></a>
                </form>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

