<ip-sidebar></ip-sidebar>
<div id="page-wrapper" class="gray-bg">
  <div class="row wrapper border-bottom white-bg page-heading">
    <h2>Studenti</h2>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Lista studenti</h5>
          </div>
          <div class="ibox-content">
            <button type="button" class="btn btn-primary" (click)="modalMember.open()">Adauga un student</button>
            <button type="button" class="btn btn-primary" (click)="modalFind.open()">Cauta un student</button>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th width="7%%"><a >Nr matricol</a></th>
                  <th width="17%"><a >Nume</a></th>
                  <th width="17%"><a >Prenume</a></th>
                  <th width="3%"><a >Grupa</a></th>
                  <th width="1%"><a >An</a></th>
                  <th width="1%">#</th>
                  <th width="1%">#</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX" *ngFor="let student of students">
                  <td>{{student.nr_matricol}}</td>
                  <td>{{student.nume}}</td>
                  <td>{{student.prenume}}</td>
                  <td>{{student.grupa}}</td>
                  <td>{{student.an}}</td>
                  <td>
                    <a  >
                      <span class="glyphicon glyphicon-edit" (click)="modalEdit.open(student.nr_matricol)"></span>
                    </a>
                  </td>
                  <td>
                    <a >
                      <span class="glyphicon glyphicon-remove" (click)="modalConfirm.open();memberDelete(student.nr_matricol)"></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ip-add (pageChanged)="handleAdd($event)"></ip-add>
<ip-edit (pageChanged)="handleEdit($event)"></ip-edit>
<ip-confirm (pageChanged)="handleDelete($event)"></ip-confirm>
<ip-find></ip-find>

