<modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Cauta student</h4>
  </modal-header>
  <modal-body>
    <div style="height:240px;">
      Cautarea se face dupa nr mnatricol. <br/><br/>
      <div class="col-sm-12">
       Nr matricol <span *ngIf="errorfind" class="err">*Nu exista un student cu acest nr matricol.</span>
        <input type="text" class="form-control" [(ngModel)]="searchstudent" *ngIf="!err">
      </div>
      <br/><br/>
      <div class="col-sm-12" *ngIf="succes">
        Nume student
        <input type="text" class="form-control"  value="{{student.nume}} {{student.prenume}}" [disabled]="true">
      </div>
      <div class="col-sm-12" *ngIf="succes">
        Grupa
        <input type="text" class="form-control" value="{{student.grupa}}" [disabled]="true">
      </div>
      <div class="col-sm-12" *ngIf="succes">
        An
        <input type="text" class="form-control" value="{{student.an}}" [disabled]="true">
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="addObject()">Salveaza</button>
  </modal-footer>
</modal>
