<div class="row">
	<div class="col-xs-12">
		<h2> Admin - Check Ins</h2>
	</div>
</div>
<div class="row center-align box-admin-menu">
	<div class="col-xs-9 align-content">
		<div class="btn btn-primary btn-new">
			Vizualizati Check Ins
		</div>
		<div class="btn btn-primary btn-new">
			Modificati Check In
		</div>
	</div>
	<div class="col-xs-3 margin-menu">
		<div routerLink="/admin/users" class="btn btn-primary btn-costum">
			Utilizatori
		</div>
		<br><br><br>
		<div routerLink="/admin/admins" class="btn btn-primary btn-costum">
			Admini
		</div>
		<br><br><br>
		<div routerLink="/admin/orar" class="btn btn-primary btn-costum">
			Orar
		</div>
		<br><br><br>
		<div routerLink="/admin/check-ins" class="btn btn-primary btn-costum active">
			Check Ins
		</div>
		<br><br><br>
		<div routerLink="/admin/register-request" class="btn btn-primary btn-costum">
			Cereri Inregistrare
		</div>
		<br><br><br>
		<div routerLink="/admin/schedule-request" class="btn btn-primary btn-costum">
			Cereri Modificare Orar
		</div>
	</div>
</div>