<modal>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Editare profesor</h4>
  </modal-header>
  <modal-body>
    <div style="height:240px;">
      <div class="col-sm-12">
        Id profesor
        <input type="text" class="form-control" [(ngModel)]="teacher.id"  value="{{teacher.id}}">
      </div>
      <div class="col-sm-12">
        Id curs
        <input type="text" class="form-control" [(ngModel)]="teacher.id_curs" value="{{teacher.id_curs}}">
      </div>
      <div class="col-sm-12">
        Nume profesor
        <input type="text" class="form-control" [(ngModel)]="teacher.nume" value="{{teacher.nume}}">
      </div>
      <div class="col-sm-12">
        Prenume profesor
        <input type="text" class="form-control" [(ngModel)]="teacher.prenume" *ngIf="!err" value="{{teacher.prenume}}">
      </div>
    </div>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-primary" (click)="addObject()">Salveaza</button>
  </modal-footer>
</modal>
