<ip-sidebar></ip-sidebar>
<div id="page-wrapper" class="gray-bg">
  <div class="row wrapper border-bottom white-bg page-heading">
    <h2>Profesori</h2>
  </div>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Lista profesori</h5>
          </div>
          <div class="ibox-content">
            <button type="button" class="btn btn-primary" (click)="modalMember.open()">Adauga un profesor</button>
            <button type="button" class="btn btn-primary" (click)="modalFind.open()">Cauta un profesor</button>
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th width="3%"><a>Id profesor</a></th>
                  <th width="3%"><a >Id curs</a></th>
                  <th width="17%"><a >Nume</a></th>
                  <th width="17%"><a >Prenume</a></th>
                  <th width="1%">#</th>
                  <th width="1%">#</th>
                </tr>
                </thead>
                <tbody>
                <tr class="gradeX" *ngFor="let teacher of teachers">
                  <td>{{teacher.id}}</td>
                  <td>{{teacher.id_curs}}</td>
                  <td>{{teacher.nume}}</td>
                  <td>{{teacher.prenume}}</td>
                  <td>
                    <a  >
                      <span class="glyphicon glyphicon-edit" (click)="modalEdit.open(teacher.id)"></span>
                    </a>
                  </td>
                  <td>
                    <a >
                      <span class="glyphicon glyphicon-remove" (click)="modalConfirm.open();memberDelete(teacher.id)"></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ip-addteacher (pageChanged)="handleAdd($event)"></ip-addteacher>
<ip-editteacher (pageChanged)="handleEdit($event)"></ip-editteacher>
<ip-confirm (pageChanged)="handleDelete($event)"></ip-confirm>
<ip-findteacher></ip-findteacher>

